/* About.css */
@keyframes AboutBackgroundAnimation {
  from {
    background-position: 0 20%;
  }
  to {
    background-position: -800px 20%; /* Move background horizontally */
  }
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #4E4AA1, #0C0B38);

  color: #02011E;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.card:hover .card-overlay {
  opacity: 1;
}
