/* CSS for slide animations */

.pagination{
margin-bottom: 20%;
}

.slide-left {
  animation: slideInLeft 0.5s ease-out forwards;
}

.slide-right {
  animation: slideInRight 0.5s ease-out forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.flip-card {
  background-color: transparent;
  width: 100%; /* Ensure it takes full width */
  height: 100%; /* Ensure it takes full height */
  perspective: 1000px; /* Perspective for the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s; /* Smooth flipping transition */
  transform-style: preserve-3d; /* Enable 3D space for the flip */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Flip the card on hover */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back face when flipped */
}

.flip-card-front {
  background-color: rgba(40, 167, 69, 0.1);
  color: black;
}

.flip-card-back {
  background-color: rgba(40, 167, 69, 0.3);
  color: white;
  transform: rotateY(180deg); /* Back side is rotated */
}

/* Ensures the container takes full height of the viewport */
.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.card-container {
  flex-grow: 1; /* Allows the card container to grow and push the pagination down */
}

.pagination {
  /* margin-top: auto; Push pagination to the bottom */
  margin-bottom: 5%;
}
/* Animated Gradient Border */
.animated-border {
  position: relative; /* To position the gradient border */
  overflow: hidden; /* Prevent overflow of the animated border */
}

.animated-border:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.1rem; /* Match the card's border radius */
  background: linear-gradient(120deg, #00F260, #0575E6);
  z-index: -1; /* Place behind the card */
  filter: blur(10px); /* Create a blurred effect */
  animation: gradient-animation 3s ease infinite; /* Apply animation */
}

/* Animation for the gradient */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
