/* * {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    width: 100vw;
    height: 100vh;
  }
  
  canvas {
    overflow: hidden;
    /* width: 100vw;
    height: 100vh;
    background-color: black; */
  /* Resume.css */

/* Container for the resume page */
.resume-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* The canvas background */
#background-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Keep the canvas in the background */
}

/* Download button */
.download-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2; /* Keep the button above the canvas */
}

/* .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
} */

.btn:hover {
  background-color: #0056b3;
}
