.leaves_animation{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    
  }
  
  .leaf {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .leaf div {
    position: absolute;
    display: block;
  }
  
  .leaf div:nth-child(1) {
    left: 5%;
    animation: fall 15s linear infinite;
    animation-delay: -1s;
  }
  
  .leaf div:nth-child(2) {
    left: 10%;
    animation: fall 15s linear infinite;
    animation-delay: -14s;
  }
  
  .leaf div:nth-child(3) {
    left: 15%;
    animation: fall 20s linear infinite;
    animation-delay: -2s;
  }
  
  .leaf div:nth-child(4) {
    left: 20%;
    animation: fall 18s linear infinite;
    animation-delay: -13s;
  }
  
  .leaf div:nth-child(5) {
    left: 25%;
    animation: fall 14s linear infinite;
    animation-delay: -3s;
  }
  
  .leaf div:nth-child(6) {
    left: 30%;
    animation: fall 16s linear infinite;
    animation-delay: -12s;
  }
  
  .leaf div:nth-child(7) {
    left: 35%;
    animation: fall 15s linear infinite;
    animation-delay: -4s;
  }
  .leaf div:nth-child(8) {
    left: 40%;
    animation: fall 15s linear infinite;
    animation-delay: -11s;
  }
  
  .leaf div:nth-child(9) {
    left: 50%;
    animation: fall 15s linear infinite;
    animation-delay: -5s;
  }
  
  .leaf div:nth-child(10) {
    left: 60%;
    animation: fall 20s linear infinite;
    animation-delay: -10s;
  }
  
  .leaf div:nth-child(11) {
    left: 70%;
    animation: fall 18s linear infinite;
    animation-delay: -6s;
  }
  
  .leaf div:nth-child(12) {
    left: 80%;
    animation: fall 14s linear infinite;
    animation-delay: -9s;
  }
  
  .leaf div:nth-child(13) {
    left: 85%;
    animation: fall 16s linear infinite;
    animation-delay: -7s;
  }
  
  .leaf div:nth-child(14) {
    left: 90%;
    animation: fall 15s linear infinite;
    animation-delay: -8s;
  }
  
  @keyframes fall {
    0% {
      opacity: 1;
      top: -10%;
      transform: translateX(20px) rotate(0deg);
    }
    20% {
      opacity: 0.9;
      transform: translateX(-20px) rotate(45deg);
    }
    40% {
      transform: translateX(-20px) rotate(90deg);
    }
    60% {
      transform: translateX(-20px) rotate(135deg);
    }
    80% {
      transform: translateX(-20px) rotate(180deg);
    }
    100% {
      top: 110%;
      transform: translateX(-20px) rotate(225deg);
    }
  }


  .leaf1 div:nth-child(1) {
    left: 5%;
    animation: rise 15s linear infinite;
    animation-delay: -1s;
  }
  
  .leaf1 div:nth-child(2) {
    left: 10%;
    animation: rise 15s linear infinite;
    animation-delay: -14s;
  }
  
  .leaf1 div:nth-child(3) {
    left: 15%;
    animation: rise 20s linear infinite;
    animation-delay: -2s;
  }
  
  .leaf1 div:nth-child(4) {
    left: 20%;
    animation: rise 18s linear infinite;
    animation-delay: -13s;
  }
  
  .leaf1 div:nth-child(5) {
    left: 35%;
    animation: rise 14s linear infinite;
    animation-delay: -3s;
  }
  
  .leaf1 div:nth-child(6) {
    left: 40%;
    animation: rise 16s linear infinite;
    animation-delay: -12s;
  }
  
  .leaf1 div:nth-child(7) {
    left: 55%;
    animation: rise 15s linear infinite;
    animation-delay: -4s;
  }
  .leaf1 div:nth-child(8) {
    left: 60%;
    animation: rise 15s linear infinite;
    animation-delay: -11s;
  }
  
  .leaf1 div:nth-child(9) {
    left: 75%;
    animation: rise 15s linear infinite;
    animation-delay: -5s;
  }
  
  .leaf1 div:nth-child(10) {
    left: 80%;
    animation: rise 20s linear infinite;
    animation-delay: -10s;
  }
  
  .leaf1 div:nth-child(11) {
    left: 90%;
    animation: rise 18s linear infinite;
    animation-delay: -6s;
  }
  
  .leaf1 div:nth-child(12) {
    left: 95%;
    animation: rise 14s linear infinite;
    animation-delay: -9s;
  }
  
  
  /* Keyframes for rising leaves */
@keyframes rise {
  0% {
      opacity: 1;
      top: 110%;
      transform: translateX(-20px) rotate(0deg);
  }
  20% {
      opacity: 0.9;
      transform: translateX(20px) rotate(-45deg);
  }
  40% {
      transform: translateX(20px) rotate(-90deg);
  }
  60% {
      transform: translateX(20px) rotate(-135deg);
  }
  80% {
      transform: translateX(20px) rotate(-180deg);
  }
  100% {
      top: -10%;
      transform: translateX(20px) rotate(-225deg);
  }
}
  