/* GrowingSpinners.css */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8); /* Optional background overlay */
    z-index: 9999; /* Ensure it stays above all content */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  