body {
    background-color: #fbfbfb;
  }
  
  #sidebarMenu{
    background-color: #122522 !important;
   

  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0; /* Adjust padding as needed */
    background-color: #40916C !important; /* Sidebar background color */
    color: #dda817 !important; /* Text color */
    width: 240px;
    z-index: 600;
    box-shadow: 0 2px 5px rgba(10, 96, 153, 0.2);
  }
  
  .logo {
    width: 80%; /* Adjust logo size */
    margin-bottom: 10px;
  }
  
  .list-group-item {
    border: none; /* Remove borders */
    border-radius: 12px;
    margin-bottom: 5px; /* Add space between buttons */
    background-color: #40916C !important; 
    
  }
  
  
  .list-group-item:hover {
    background-color: #40916C !important; /* Hover effect */
  }
  
  .position-sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; /* Stick to the top */
    height: 100vh; /* Full height */
    overflow-y: auto; /* Scrollable if necessary */
  }
  
  .list-group{
    margin-top: 5px;
    border-radius: 12px;
    background-color: #122522 !important;
   
  }

  .list-group-item:first-child {
    border-radius: 12px !important;
  }
  
  .list-group-item:last-child {
    border-radius: 12px !important;
  }