#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
  }

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* App.css */

/* Set smooth scrolling for the entire document */
html {
  scroll-behavior: smooth;
}



.section {
  padding-left: 0%;
  margin: 0;
  height: 100vh; /* Make each section take up the full viewport height */
  
}


#home {
  
  margin-left: 5%;
  color: #b0b0b0;
  background: linear-gradient(-45deg, #011e19,#214131,#102e23, #31543f);
  background-size: 600% 600%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
#about {
  margin-left: 10%;
  background-color: #425953;
}

#projects {
  background-color: #31543F;
}

#skills {
  background-color: #425953;
}

#resume {
  background-color: #31543F;
}

#contact {
  background-color: #425953;
}

.divSection{
  flex-direction: column;
}



