#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
  
  }

  body {
    font-family: 'Montserrat', sans-serif;
    
  }
  
  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* App.css */

/* Set smooth scrolling for the entire document */
html {
  scroll-behavior: smooth;
}



.section {
  padding-left: 0%;
  margin: 0;
  height: 100vh; /* Make each section take up the full viewport height */
  
}


#home{
  padding-top: 5%; 
  height: 100vh;
  overflow: hidden; 
  
  background: 
    /* radial-gradient(circle at bottom, #558767, transparent 10%), */
    radial-gradient(circle at left, #2F2B7D, transparent 30%),    
    linear-gradient(to top, #02011E 0%, transparent 70%),    
    linear-gradient(to bottom, transparent, #040324 70%),
    #05042A;   
  animation: bg 20s infinite;
  

}

@keyframes bg {
  0%, 100% { background-color: #131146; } 
  25% { background-color: #2F2B7D; }      
  50% { background-color: #0C0B38; }     
  /* 75% { background-color: #1A1854; }       */
}

 
#about {
 
  margin-left: 0%;
  background-color: #02011E;
  
 
}



#skills {
 
  background-color: #02011E;
}

#projects {

 background-color: #02011E;
}


#resume {
   
  background-color: #02011E;
}

#contact {
 
  
  background-color:#02011E;
  margin-bottom: 10%;
}

.divSection{
  flex-direction: column;
}


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height */
  overflow-x: hidden; /* Prevent horizontal scroll */
  text-align: center;
  background: #02011E;
}
